    <h3 >Change Password:</h3>
    <form asp-controller="Home" asp-action="ChangePassword">
        <label>Old password:</label><br />
        <input type="password" name="OldPassword" /><br />
        <label>New password:</label><br />
        <input type="password" name="NewPassword" /><br />
        <input type="submit" value="Change password" /><br />
    </form>